.fotoshereke{
    width: 30%;
}

.paragrafo{
    font-size: x-large;
    color: rgb(255, 255, 255);
}

body{
    background-color: black;
}

.titulo{
    color: rgb(255, 255, 255);
    text-align: left;
}


.fototapotente{
    width: 30%; 
}

.img-container{
    width: 100%;
}

img{
    width: 30%;
    float: right;
}
.botao{
    text-align: left;
}

.bg{
    background-image: url(images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}