.fotoshereke{
    width: 50%;
}

.paragrafo{
    font-size: xx-large;
    color: darkgreen;
}

body{
    background-color: black;
}

.titulo{
    color: darkgreen;
    text-align: center;
}

.img-container{
    text-align: right;
}
.fototapotente{
    width: 49%; 
}
.img-container2{
    text-align: left;
}
